<div class="page-header">
  <div class="container">
    <h1>Ajouter un nouveau Livre</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/students" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <!-- Student Details -->
      <form #LivreAddForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Titre</mat-label>
              <input type="text" matInput [(ngModel)]="livre.Titre" name="Titre" required>
              <mat-error>titre is a required field</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Maison d'édition</mat-label>
              <input type="text" matInput [(ngModel)]="livre.maisonEdition" name="maisonEdition" required>
              <mat-error>Maison d'édition is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Année de création</mat-label>
              <input type="text" matInput [(ngModel)]="livre.AnneEdition" name="AnneEdition" required>
              <mat-error>Année d'édition est vide </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de page </mat-label>
              <input type="number" matInput [(ngModel)]="livre.Nbpage" name="Nbpage"required>
              <mat-error>Nombre de page est vide</mat-error>
            </mat-form-field>
          </div>
            <div class="col-xs-6">
              <mat-form-field appearance="outline">
                <mat-label>Langue</mat-label>
                <input type="text" matInput [(ngModel)]="livre.Langue" name="Langue" required>
                <mat-error>Langue  est vide </mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Auteurs</mat-label>
              <mat-select [(ngModel)]="livre.idAuteurs" name="auteur" required>
                <mat-option *ngFor="let auteur of AuteurList" [value]="auteur.idAuteurs">
                  {{ auteur.nom}}
                </mat-option>
              </mat-select>
              <mat-error>Auteurs is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Type de livre</mat-label>
              <mat-select [(ngModel)]="livre.TypeLivre" name="TypeLivre" required>
                <mat-option *ngFor="let type of TypeLivreList" [value]="type.idTypeLivre">
                  {{ type.type}}
                </mat-option>
              </mat-select>
              <mat-error>Gender is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs">
              <button mat-raised-button color="primary" type="submit" >Ajouter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="row center-xs">
        <div class="image-container">
          <img [src]="displayProfileImageUrl" alt="Profile Image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row center-xs mt-1" *ngIf="!isNewLivre">
          <input hidden type="file" #imageUpload >
          <button mat-raised-button color="primary" (click)="imageUpload.click()">Insert Image</button>
        </div>
      </div>
    </div>
  </div>
</div>
