<div class="page-header">
  <div class="container">
    <h1>Liste des livres</h1>
  </div>
</div>

<div class="container">
  <div class="row end-xs mt-1">
    <div class="col-xs-12">
      <input type="text" class="searh-input" placeholder="Rechercher Livre" [(ngModel)]="filterString"
       (keyup)="filterLivre()">
      <a routerLink="/livre/add" mat-raised-button color="primary" class="ml-1">Ajouter nouvelle livre</a>
    </div>
  </div>


  <div class="mt-1 mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource" class="">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- First Name Column -->
      <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre</th>
        <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="Langue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Langue</th>
        <td mat-cell *matCellDef="let element"> {{element.Langue}} </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="maisonEdition">
        <th mat-header-cell *matHeaderCellDef> maisonEdition</th>
        <td mat-cell *matCellDef="let element"> {{element.maisonEdition }} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="Auteurs">
        <th mat-header-cell *matHeaderCellDef> Auteurs </th>
        <td mat-cell *matCellDef="let element"> {{element.Auteurs}} </td>
      </ng-container>

      <!-- Mobile Column -->
      <ng-container matColumnDef="Nbpage">
        <th mat-header-cell *matHeaderCellDef> Nbpage </th>
        <td mat-cell *matCellDef="let element"> {{element.Nbpage}} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="TypeLivre">
        <th mat-header-cell *matHeaderCellDef> TypeLivre </th>
        <td mat-cell *matCellDef="let element"> {{element.TypeLivre.nom}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/livres', element.id]">
            <mat-icon color="primary">edit</mat-icon>
          </a>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" z->
    </mat-paginator>
  </div>
</div>
